<div class="parallax-banner flex-container flex-pc">
        <div class="banner-text text-center">
                <div class="space-50"></div>
                <h1>
                        Application Form
                </h1>
                <i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </i>
        </div>
</div>
<div class="space-20"></div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Application Form</h2>
		</div>
		<div class="col-md-6 pull-right">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Application Form</a></li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="space-20"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 space-20">
					<strong>First name</strong>	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i>	
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Last  name	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-6 space-20">
					<strong>Gender	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-6 space-20">
					<strong>Date of birth			<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Email		<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Phone number	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-6 space-20">
					<strong>Country of origin	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-6 space-20">
					<strong>Country of origin			<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>City		<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Address		<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Post code	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>High school education	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Work experience	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Last study experience	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Preferred study program	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<input type="text" class="form-control css_inputfield" id="usr">
				</div>
				<div class="col-md-12 space-20">
					<strong>Additional text	<i class="fa fa-check cc-mandotry" aria-hidden="true"></i></strong>
					<textarea type="text" class="form-control css_inputfield height-contact-us" id="usr"></textarea>
				</div>
			</div>
			<button  class="button button-1 space-20" type="button">Primary</button>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
                                <p>OUR AMAZING
                                </p>
			</div>
			<div class="col-md-12 space-20">
				<h3>Professors</h3>
			</div>
			<div class="col-md-12 space-20">
                                <img  class="img_contact" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/20/2018/06/Untitled-27-660x420.jpg" alt="User one">
                        </div>
			<div class="col-md-12 space-20"> 
                                <strong>Jessica Leeman</strong>
                        </div>
			<div class="col-md-12 space-20 font_color_contact"> 
                                <strong>PSYCHOLOGY</strong>
                        </div>
			<div class="col-md-12 space-20">   
                                <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas consequat ipsum congue porttitor. Phasellus massa nisl, congue sed fermentum nec, sodales vel dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                        </div>
			<div class="col-md-12 space-20">
				<p>OUR AMAZING
				</p>
			</div>
			<div class="col-md-12 space-20">
				<h3>Professors</h3>
			</div>
			<div class="col-md-12 space-20">
                                <img  class="img_contact" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/20/2018/06/Untitled-26-660x420.jpg" alt="User one">
                        </div>
			<div class="col-md-12 space-20"> 
                                <strong>Jessica Leeman</strong>
                        </div>
			<div class="col-md-12 space-20 font_color_contact"> 
                                <strong>PSYCHOLOGY</strong>
                        </div>
			<div class="col-md-12 space-20">   
                                <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas consequat ipsum congue porttitor. Phasellus massa nisl, congue sed fermentum nec, sodales vel dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                        </div>
		</div>
	</div>
</div>
<div class="space-50"></div>