<header class="header1">
	<div class="mainHeader row">
		<div class="col-md-2 col-sm-3">
			<a routerLink="/"> <img src="../assets/images/slider/logo.png"/></a>
		</div>
		<div class="flex-container header-icons flex-w-w flex-jc-fe col-md-10 col-sm-9">
			<a href="tel: +9191604204555" class="icon-box">
				<i class="fa fa-phone"></i>
				<div>
					<h5> CALL US</h5>
					<small>+91 9160420455</small>
				</div>
			</a>
			<a href="mailTo: cmpname@cmpname.com" class="icon-box">
				<i class="fa fa-envelope-o"></i>
				<div>
					<h5>E-MAIL</h5>
					<small>cmpname@cmpname.com</small>
				</div>
			</a>
			<a class="icon-box">
				<i class="fa fa-map-marker"></i>
				<div>
					<h5> LOCATION</h5>
					<small>Madhapur,Hyderabad</small>
				</div>
			</a>
		</div>
	</div>
	<div class="burger-icon" id="nav-icon1">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="header nav-menu header-1">
		<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink="/">Home</a></li>
					<li routerLinkActive="active" class="nav-item"><a routerLink="about">About US</a></li>
					<li class="nav-item dropdown add-dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
						Dropdown link
						</a>
						<div class="dropdown-menu ">
							<a class="float-left active" data-screen="1">
							Rite Erp<i class="fa fa-caret-right float-right"></i>
							</a>
							<a class="float-left" data-screen="2">
							Rite Campus<i class="fa fa-caret-right float-right"></i>
							</a>
							<a class="float-left" data-screen="3">
							Easy Ship<i class="fa fa-caret-right float-right"></i>
							</a>
							<a class="float-left" data-screen="4">
							Skill Passport<i class="fa fa-caret-right float-right"></i>
							</a>
							<ul class="list-group list-item-screen">
								<div class="list-item-screen-1">
									<h2>Rite Erp</h2>
								</div>
								<div class="list-item-screen-2 d-none">
									<h2>Rite Campus</h2>
								</div>
								<div class="list-item-screen-3 d-none">
									<h2>Rite Ship</h2>
								</div>
								<div class="list-item-screen-4 d-none">
									<h2>Rite Passport</h2>
								</div>
							</ul>
						</div>
					</li>
					<li class="nav-item dropdown add-dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
						Dropdown link
						</a>
						<div class="dropdown-menu ">
							<a class="float-left active" data-screen="1">
							Rite Erp<i class="fa fa-caret-right float-right"></i>
							</a>
							<a class="float-left" data-screen="2">
							Rite Campus<i class="fa fa-caret-right float-right"></i>
							</a>
							<a class="float-left" data-screen="3">
							Easy Ship<i class="fa fa-caret-right float-right"></i>
							</a>
							<a class="float-left" data-screen="4">
							Skill Passport<i class="fa fa-caret-right float-right"></i>
							</a>
							<ul class="list-group list-item-screen">
								<div class="list-item-screen-1">
									<h2>Rite Erp</h2>
								</div>
								<div class="list-item-screen-2 d-none">
									<h2>Rite Campus</h2>
								</div>
								<div class="list-item-screen-3 d-none">
									<h2>Rite Ship</h2>
								</div>
								<div class="list-item-screen-4 d-none">
									<h2>Rite Passport</h2>
								</div>
							</ul>
						</div>
					</li>
					<li routerLinkActive="active" class="nav-item"><a routerLink="study-programs">Study Programs</a></li>
					<!-- <li routerLinkActive="active" class="nav-item"><a routerLink="blogs">Blog</a></li> -->
					<li routerLinkActive="active" class="nav-item"><a routerLink="apply">Apply</a></li>
					<li routerLinkActive="active" class="nav-item"><a routerLink="contact">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>