<div class="about-section">
	<div class="parallax-banner"></div>
	<div class="space-40"></div>
	<div class="container">
	<div class="row"> 
		<div class="col-md-6">
			<h2>About us </h2>
		</div>
		<div class="col-md-6 pull-right">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">About Us</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="site-title ">
		<p>lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum  industry  It was popularised in the 1960s with the release </p>
	</div>

	<div class="row about-inner-section">				
		<div class="col-md-7 about-inner-column">
			<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry </h4>
			<p>Takenpossession of lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
			<ul>
				<li><a href="#">Donec ut quam lscele volutri.</a></li>
				<li><a href="#">Etiam volutpatbh quam bortis</a></li>
				<li><a href="#">Varius fusce vit aeblandit.</a></li>
			</ul>
		</div>
		<div class="col-md-5 about-right">
			<img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-fluid" alt=" ">
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="space-100"></div>
	</div>
</div>
<app-tabs1></app-tabs1>
