<div class=" counter-wrapper counter1">
  <div class="counter">
    <div class="css_counter pad_count flex-container flex-pc">
      <div class="flex-container flex-w-w">
        <div class="flex-container flex-pc padding-10">
            <div class="css_counter_font">
              259
            </div>
            <div class="vl">
              STUDY <br> PROGRAMS
            </div>
        </div>
        <div class="flex-container flex-pc padding-10">
            <div class="css_counter_font">
              180
            </div>
            <div class="vl">
              STUDENTS <br> ONLINE
            </div>
        </div>
        <div class="flex-container flex-pc padding-10">
            <div class="css_counter_font">
              974
            </div>
            <div class="vl">
              ONLINE <br> COURSES
            </div>
        </div>
        <div class="flex-container flex-pc padding-10">
            <div class="css_counter_font">
              159
            </div>
            <div class="vl">
                ONLINE <br> COURSES
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
