<div class="flex-container container-fluid flex-pc flex-w-w flex-d-c no-padding secondary-bg-color no-margin">
  <app-slider2></app-slider2>
  <app-counter></app-counter>
  <div class="space-200"></div>
  <app-cards1></app-cards1>
  <div class="space-80"></div>
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <app-carousel1></app-carousel1>
      </div>
      <div class="col-md-6 col-sm-12 bg-orange">
        <div class="video-section">
          <iframe src="https://www.youtube.com/embed/xcJtL7QggTI?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="641" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="space-80"></div>
  <app-studypro></app-studypro>
  <app-join-us class="width-100"></app-join-us>
  <div class="space-60"></div>
  <app-testimonial></app-testimonial>
  <div class="space-80"></div>
  <app-shop></app-shop>
  <div class="space-40"></div>
  <app-university class="width-100"></app-university>
  <app-sidemenu></app-sidemenu> 
  <div class="space-80"></div>
  <app-upcoming-events></app-upcoming-events>
  <div class="space-50"></div>
  <app-subscribe></app-subscribe>

 <app-tabs1></app-tabs1>

  

<!-- <app-jobready> </app-jobready> -->
  
</div>
