<div class="space-50"></div>
<section id="coursLst" class="pt-2 sklbg">
  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-12 center">
                  <h3 class="text-title"> <i class="mdi-content-send brown-text"></i> </h3>
                  <h4 class="text-title"> Job Ready Courses </h4>
                  <p class="center ml-5 mr-5 text-title"> Skill Passport specializes on bridging the competency gap in its aim to make a student not just competitive but also skilled. The services intend to upskill a student and enhances their potential skills.
                  </p>
              </div>
          </div> 
          <div class="space-20"></div>
  <!--*/-->
          <div class="row">
              <div class="col-md-3">
                  <div class="box tile">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img src="../assets/images/slider/it-hm.png" class="activator">
                      </div>
                      <div class="card-content black-text pt-0">
                          <h5 class="card-title"> Information Technology </h5>
                          <p class="tutornme">Top of the line learning and skilling service for niche IT service portfolio's. </p>
                          <small class="waves-effect reviewicn green-text dark"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <b> 4.7 </b> </small>
                      </div>
                      <div class="card-action center">
                          <!-- <a href="" class="btn-outerline-grn left" role=""> Enroll Now </a>
                           <a href="" class="itemprice"><i class="fa fa-inr"> 9,000 </i>  </a>-->
                          <div class="row">
                              <div class="col-md-12 mb-2">
                                  <a href="it-and-software.html" class="center"><button class="btn btn-sm">View Detail</button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="box tile">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img src="../assets/images/slider/ites-hm.png" class="activator">
                      </div>
                      <div class="card-content black-text pt-0">
                          <h5 class="card-title"> ITES </h5>
                          <p class="tutornme"> Highly competitive and result driven training services for evolving ITES sector. </p>
                          <small class="waves-effect reviewicn green-text dark"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <b> 4.7 </b> </small>
                      </div>
                      <div class="card-action center">
                          <div class="row">
                              <div class="col-md-12 mb-2">
                                  <a href="explore-ites.html" class="center"><button class="btn btn-sm">View Detail</button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="box tile">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img src="../assets/images/slider/bfsi-hm.png" class="activator">
                      </div>
                      <div class="card-content black-text pt-0">
                          <h5 class="card-title"> BFSI </h5>
                          <p class="tutornme"> Industry specific courses in financial sectors on various domains by expert trainers. </p>
                          <small class="waves-effect reviewicn green-text dark"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <b> 4.7 </b> </small>
                      </div>
                      <div class="card-action center">
                          <div class="row">
                              <div class="col-md-12 mb-2">
                                  <a href="finance-and-account.html" class="center"><button class="btn btn-sm">View Detail</button></a></div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="box tile">
                      <div class="card-image ">
                          <img src="../assets/images/slider/retail-hm.png" class="activator">
                      </div>
                      <div class="card-content black-text pt-0">
                          <h5 class="card-title"> Retail </h5>
                          <p class="tutornme"> High impact trainings with industry relevance for the booming Retail sector. </p>
                          <small class="waves-effect reviewicn green-text dark"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <b> 4.7 </b> </small>
                      </div>
                      <div class="card-action center">
                          <div class="row ">
                              <div class="col-md-12 mb-2">
                                  <a href="explore-ites.html" class="center"><button class="btn btn-sm">View Detail</button></a></div>

                          </div>
                      </div>
                  </div>
              </div>

          </div>

<!--******************-->


      </div>
  </div>
</section>
<div class="space-50"></div>