<div class="burger-icon" id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="header nav-menu header-1">
    <nav class="navbar navbar-expand-sm">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-6">
        <ul class="navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink="/">Home</a></li>
          <!-- <li routerLinkActive="active" class="nav-item"><a routerLink="about">About US</a></li> -->
          
          <li class="nav-item dropdown add-dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Applications
            </a>
            <div class="dropdown-menu">
              <a class="float-left active" data-screen="1">
                Rite Erp<i class="fa fa-caret-right float-right"></i>
              </a>
              <a class="float-left" data-screen="2">
                Rite Campus<i class="fa fa-caret-right float-right"></i>
              </a>
              <a class="float-left" data-screen="3">
                Easy Ship<i class="fa fa-caret-right float-right"></i>
              </a>
              <a class="float-left" data-screen="4">
                Skill Passport<i class="fa fa-caret-right float-right"></i>
              </a>
              <ul class="list-group list-item-screen">
                  <div class="list-item-screen-1">
                    <h2>Rite Erp</h2>
                  </div>
                  <div class="list-item-screen-2 d-none">
                    <h2>Rite Campus</h2>
                  </div>
                  <div class="list-item-screen-3 d-none">
                    <h2>Rite Ship</h2>
                  </div>
                  <div class="list-item-screen-4 d-none">
                    <h2>Rite Passport</h2>
                </div> 
              </ul>
            </div>
        </li>
        <!-- <li class="nav-item dropdown add-dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu ">
              <a class="float-left active" data-screen="1">
                Rite Erp<i class="fa fa-caret-right float-right"></i>
              </a>
              <a class="float-left" data-screen="2">
                Rite Campus<i class="fa fa-caret-right float-right"></i>
              </a>
              <a class="float-left" data-screen="3">
                Easy Ship<i class="fa fa-caret-right float-right"></i>
              </a>
              <a class="float-left" data-screen="4">
                Skill Passport<i class="fa fa-caret-right float-right"></i>
              </a>
              <ul class="list-group list-item-screen">
                  <div class="list-item-screen-1">
                    <h2>Rite Erp</h2>
                  </div>
                  <div class="list-item-screen-2 d-none">
                    <h2>Rite Campus</h2>
                  </div>
                  <div class="list-item-screen-3 d-none">
                    <h2>Rite Ship</h2>
                  </div>
                  <div class="list-item-screen-4 d-none">
                    <h2>Rite Passport</h2>
                </div> 
              </ul>
            </div>
        </li> -->

          
          <!-- <li routerLinkActive="active" class="nav-item"><a routerLink="study-programs">Study Programs</a></li> -->
          <!-- <li routerLinkActive="active" class="nav-item"><a routerLink="blogs">Blog</a></li> -->
          <!-- <li routerLinkActive="active" class="nav-item"><a routerLink="apply">Apply</a></li> -->
          <li routerLinkActive="active" class="nav-item"><a routerLink="contact">Contact</a></li>
        </ul>
</div>
<div class="col-md-6">
    <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item pull-right mar-l-auto"><a class=" pull-right" routerLink="/suscribe"><img src="assets/images/header/header2/sub2.gif" class="subscribe_head_btn" /></a></li>
    </ul>

  </div>




</div>
      </div>
    </nav>
</div>