<div class="container">
    <div class="row space-200">
        <div class="col-md-6">
            <h2>Computer Engineering</h2>
        </div>
        <div class="col-md-6 pull-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Study Program</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Computer Engineering</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-study-program-carousel></app-study-program-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <app-study-program-desc></app-study-program-desc>
        </div>
        <div class="col-md-3">
            <app-study-program-info></app-study-program-info>
        </div>
    </div>
</div>