<div class="padding-20 prgNav">
  <label><i class="fa fa-share-alt"></i>Share</label>
</div>
<div class="">
  <div class="row prgInfo">
    <div class="col-md-1 col-sm-1">
      <i class="fa fa-bell text-orange"><!-- --></i>
    </div>
    <div class="col-md-10 col-sm-10">
      <h5>Start Date</h5>
      <label>14<sup>th</sup> Jul 2018</label>
    </div>
  </div>
  <div class="row prgInfo">
    <div class="col-md-1 col-sm-1">
      <i class="fa fa-clock-o text-orange"><!-- --></i>
    </div>
    <div class="col-md-10 col-sm-10">
      <h5>Duration</h5>
      <label>2 Months(Part Time/ Full Time)</label>
    </div>
  </div>
  <div class="row prgInfo">
    <div class="col-md-1 col-sm-1">
      <i class="fa fa-inr text-orange"><!-- --></i>
    </div>
    <div class="col-md-10 col-sm-10">
      <h5>Amount</h5>
      <label>2,000 INR</label>
    </div>
  </div>
  <div class="row prgInfo">
    <div class="col-md-1 col-sm-1">
      <i class="fa fa-info-circle text-orange"><!-- --></i>
    </div>
    <div class="col-md-10 col-sm-10">
      <h5>More Information</h5>
      <label>Application Form</label>
    </div>
  </div>
  <div class="row prgInfo">
    <div class="col-md-1 col-sm-1">
      <i class="fa fa-folder text-orange"><!-- --></i>
    </div>
    <div class="col-md-10 col-sm-10">
      <h5>Category</h5>
      <label>Engineering</label>
    </div>
  </div>
</div>