<div class="mainHeader row">
    <div class="col-md-2 col-sm-3">
      <a routerLink="/"> <img src="../assets/images/slider/logo.png"/></a>
    </div>
    <div class="flex-container header-icons flex-w-w flex-jc-fe col-md-10 col-sm-9">
        <div class="icon-box">
            <div class="">
                <i class="fa fa-phone"><!-- --></i>
            </div>
            <div class="">
                <h5> Call</h5>
                <small>+91 9160420455</small>
            </div>
        </div>
        <div class="icon-box">
            <div class="">
                <i class="fa fa-envelope-o"><!-- --></i>
            </div>
            <div class="">
                <h5>Email</h5>
                <small>cmpname@cmpname.com</small>
            </div>
        </div>
        <div class=" icon-box">
            <div class="">
                <i class="fa fa-map-marker"><!-- --></i>
            </div>
            <div class="">
                <h5> Location</h5>
                <small>Madhapur,Hyderabad</small>
            </div>
        </div>
    </div>
</div>