<div class="space-200"></div>
<!-- MultiStep Form -->
<div class="container">
		<div class="space-40"></div>
	<div class="row"> 
				<div class="col-md-6">
					<h2>Subscription Form</h2>
				</div>
				<div class="col-md-6 pull-right">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Suscribe</li>
						</ol>
					</nav>
				</div>
			</div>
</div>
<div class="flex-container flex-jc-c row">


	<div class="col-md-6 col-sm-12 col-xs-12">
		<form id="msform">
			<!-- progressbar -->
			<ul id="progressbar">
				<li class="active">Personal Details</li>
				<li>Social Profiles</li>
				<li>Account Setup</li>
			</ul>
			<!-- fieldsets -->
			<fieldset>
				<h2 class="fs-title">Company Details</h2>
				<h3 class="fs-subtitle">Enter Company Details</h3>
				<input type="text" class="frm-cntrl" name="fname" placeholder="Company Name" pattern="[a-zA-Z ]*" ngModel/>
				<input type="text" class="frm-cntrl"  name="lname" placeholder="No. of Employees" pattern="[a-zA-Z ]*" ngModel/>
				
				<div class="form-group mar_t20">
						<h3 class="fs-subtitle">Choose Our Products</h3>
					  
						<div class="">
							<div class="row">
								<div class="col-md-6">
						<div class="checkbox checkbox-primary pull-left">
								<label for="checkbox1"><input id="checkItem"  class="myinput" type="checkbox" >
							 RITEERP CAMPUS</label>
						</div>
						</div>
						<div class="col-md-6">
						<div class="checkbox checkbox-primary  pull-left">
								<label for="checkbox2"><input id="checkItem"  class="myinput" type="checkbox" >
							 RITE ACCOUNTS </label>
						</div>
						</div>
						<div class="col-md-6">
						 <div class="checkbox checkbox-primary  pull-left">
								<label for="checkbox3">	<input id="checkItem"  class="myinput" type="checkbox" >
							 SKILL PASSPORT </label>
						</div>
						</div>
						<div class="col-md-6">
						<div class="checkbox checkbox-primary  pull-left">
								<label for="checkbox4"  >	<input id="checkAll" class="myinput" type="checkbox" >
							 ALL </label>
						</div>
						</div>
						</div>
		</div>
		
					</div>


				<input type="button" name="next" class="next action-button" value="Next"/>
			</fieldset>
			<fieldset>
				<h2 class="fs-title">Contact Details</h2>
				<h3 class="fs-subtitle">Enter Contact Details</h3>
				<input type="text" class="frm-cntrl"  name="twitter" placeholder="Mobile Number"/>
				<input type="text" class="frm-cntrl"  name="facebook" placeholder="E-Mail"/>
				
				<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
				<input type="button" name="next" class="next action-button" value="Next"/>
			</fieldset>
			<fieldset>
				<h2 class="fs-title">Contact Address</h2>
				<h3 class="fs-subtitle">Enter Address Details</h3>
				<input type="text" class="frm-cntrl"  name="email" placeholder="Address1"/>
				<input type="text" class="frm-cntrl"  name="pass" placeholder="Address2"/>
				<input type="text" class="frm-cntrl"  name="cpass" placeholder="State"/>
				<input type="text" class="frm-cntrl"  name="cpass" placeholder="Country"/>
				<input type="text" class="frm-cntrl"  name="cpass" placeholder="Pincode"/>

				<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
				<a  >
				<button name="submit" class="submit action-button" routerLink="/verifydash">Submit</button></a>
			</fieldset>
		</form>
</div>
<!-- /.MultiStep Form -->
<div class="space-200"></div>
<app-sidemenu></app-sidemenu>