<div class="hero_banner slider2 sliderShowContainer">
  <div class="container-fluid no-padding slidershow">
    <div class="cd-background-wrapper active">
      <div class="banner-text">
        <h4>Choose the best</h4>
        <h2>
          LOREM IPSUM 1
        </h2>
      </div>
      <div class="cd-floating-background">
          <img src="../../../../assets/images/slider/cd-img-1.jpg" class="image-bg" alt="image-1">
          <img src="../../../../assets/images/slider/cd-img-2.png" class="image-fix image-fix-1" alt="image-2">
          <img src="../../../../assets/images/slider/cd-img-4.png" class="image-fix image-fix-2" alt="image-4">
          <img src="../../../../assets/images/slider/cd-img-3.png" class="image-move" alt="image-3">
      </div>
    </div>
    <div class="cd-background-wrapper">
      <div class="banner-text">
        <h4>Choose the best</h4>
        <h2>
          LOREM IPSUM 2
        </h2>
      </div>
      <div class="cd-floating-background">
          <img src="../../../../assets/images/slider/cd-img-1.jpg" class="image-bg" alt="image-1">
          <img src="../../../../assets/images/slider/cd-img-2.png" class="image-fix image-fix-1" alt="image-2">
          <img src="../../../../assets/images/slider/cd-img-4.png" class="image-fix image-fix-2" alt="image-4">
          <img src="../../../../assets/images/slider/cd-img-3.png" class="image-move" alt="image-3">
      </div>
    </div>
    <div class="cd-background-wrapper">
      <div class="banner-text">
        <h4>Choose the best</h4>
        <h2>
          LOREM IPSUM 3
        </h2>
      </div>
      <div class="cd-floating-background">
          <img src="../../../../assets/images/slider/cd-img-1.jpg" class="image-bg" alt="image-1">
          <img src="../../../../assets/images/slider/cd-img-2.png" class="image-fix image-fix-1" alt="image-2">
          <img src="../../../../assets/images/slider/cd-img-4.png" class="image-fix image-fix-2" alt="image-4">
          <img src="../../../../assets/images/slider/cd-img-3.png" class="image-move" alt="image-3">
      </div>
    </div>
  </div>
  <!-- <div class="control-btn">
    <a class="btn-left">
      <img src="/assets/images/carousel/left-arrow.png" alt="">
    </a>
    <a class="btn-right">
      <img src="/assets/images/carousel/right-arrow.png" alt="">
    </a>
  </div> -->
</div>